body, .btn, .item-name{
    font-size: 18px;
}
.map-banner, h3{
    font-size: 24px;
}
ol{
    padding-inline-start: 15px;
}
.text-md, nav{
    font-size: 16px;
}
.item-info, .contacts, .footer-menu, .footer-menu a{
    font-size: 14px;
}
.top-banner{
    background-image: url("../img/top-bg.png");
}
#map, .top-banner{
    height: 550px;
}
[class*="ymaps-2"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
}
body .bg-danger{
    background-color: rgb(180, 0, 0) !important;
}
.border-danger{
    border-color: rgb(180, 0, 0) !important;
}
h3 {
    color: rgb(0, 0, 0);
    line-height: 0.833;
    text-align: left;
}
.item-name {
    line-height: 1.111;
    text-align: left;
}
.item-info, .footer-menu, .footer-menu a{
    opacity: 0.5;
    margin-block-end: 0;
    margin-block-start: 0;
    line-height: 1.111;
    color: inherit !important;
}
.btn{
    border-radius: 0;
}
.callback-btn{
    border-radius: 30px;
}
.company-btn{
    padding: 15px 70px;
}
.text-red{
    color: rgb(180, 0, 0);
}
.banner-text{
    top:130px;
    left: 20%;
    font-size: 42px;
}
.pointer{
    cursor: pointer;
}
.banner-text p{
    margin-bottom: 0;
    bottom: 0;
    left: 20px;
}
svg{
    opacity: 0.8;
}
.banner-links{
    height: 70px;
}
@media (min-width: 768px) {
    footer .info{
        font-size: 14px;
    }
}
@media (max-width: 576px) {
    .banner-links{
        height: auto;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .header{
        font-size: 14px;
    }
}